.ContainerComboDate {
    display: flex;
    align-items: center;
    /* margin: 4%; */
    gap: 0.5vh;
    flex: 1;
    /* justify-content: space-between; */
}

.ComboDate {
    display: flex;
    gap: 1vh;
}


.icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex: 0.3; */

}

.icon {
    /* width: 100%; */
    width: 70px;
}

.label {
    font-size: calc(6px + 1vmin);
}

.lableDate {
    display: flex;
    flex-direction: column;
    font-size: calc(6px + 1vmin);
    font-weight: bold;
    gap: 1vh;
    flex: 1;
}