.input {
    border-radius: 4px;
    background-color: #F2F6F6;
    padding: 0 10px;
    gap: 10px;
    height: 3em;
    width: 96%;
    border: none;
}

.form_group{
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1vh;
}