body{
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgb(245, 245, 245)
}


.App{
  display: flex;
  flex-direction: column;
  gap: 3vh;
  margin: 2%;
}

.title{
  font-family: Helvetica;
  font-size: 52px;
  font-weight: 350;
}